body {
    background: url("background.jpg");
}

* {
    width: 55vw;
    margin: auto;
}

a {
   color: #00BFFF;
}

h1 {
   font-family: verdana;
   font-size: 31px;
}

p {
  font-family: new york, sans-serif;
  font-color: #808080;
  font-size: 16px;
  background: #FA8072;
}

aside {
    font-size: 11px;
    background: #FFFFFF;

table {
   backgroubd-color: #FFFAFA;
   border: 3px solid grey;
}
