body {
    background: url("background.jpg");
}

* {
    width: 60vw;
    margin: auto;
}

a {
   color: #00BFFF;
}

h1 {
   font-family: verdana;
   font-size: 8vw;
}

p {
  font-family: new york, sans-serif;
  font-color: #808080;
  font-size: 5vm;
  background: #FA8072;
}

table {
   backgroubd-color: #FFFAFA;
   border: 3px solid grey;
}
